<div class="container pt-5">
    <h2>Add a Cocktail</h2>
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file %>
    <%= f.submit 'Change Cocktail', class: 'btn btn-success' %>
    <% end %>
    <hr>
    <%= link_to  "Back", cocktails_path, class: "btn btn-success"%>
</div>